<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.ciky.system.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.ciky.system.model.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="data_scope" property="dataScope" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, remark, sort, status, data_scope, create_by, create_time, update_by, update_time, delflag
    </sql>

    <select id="selectRoleList" resultType="cloud.ciky.system.model.vo.RolePageVO">
    select r.id,
           r.name,
           r.code,
           r.status,
           r.remark,
           r.sort
    from sys_role r
    where r.delflag = 0
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(query.keywords)">
            and (r.name like concat('%', #{query.keywords}, '%') or r.remark like concat('%', #{query.keywords}, '%'))
        </if>
        <if test="query.isAdmin != null and query.isAdmin == 0">
            and r.code != '${@cloud.ciky.base.constant.SystemConstants@ADMIN_ROLE_CODE}'
        </if>
        <if test="query.status != null">
            and r.status = #{query.status}
        </if>
    order by r.status desc, r.sort
    </select>

</mapper>
