<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.ciky.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.ciky.system.model.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="avatar_attach_id" property="avatarAttachId" />
        <result column="wx_mp_openId" property="wxMpOpenId" />
        <result column="wx_mini_openId" property="wxMiniOpenId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, phone, email, status, avatar_attach_id, wx_mp_openId, wx_mini_openId, create_by, create_time, update_by, update_time, delflag
    </sql>

    <!-- 用户认证信息映射 -->
    <resultMap id="UserAuthMap" type="cloud.ciky.system.model.dto.UserAuthDTO">
        <id property="userId" column="id"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="avatarAttachId" column="avatar_attach_id"/>

        <collection property="roles" ofType="string" javaType="java.util.Set">
            <result column="code"/>
        </collection>
    </resultMap>


    <select id="getUserAuthInfo" resultMap="UserAuthMap"
            parameterType="java.lang.String">
        select su.id,
               su.username,
               su.real_name,
               su.password,
               su.status,
               su.nickname,
               su.phone,
               su.email,
               r.code
        from sys_user su
                 left join sys_user_role ur on ur.user_id = su.id and ur.delflag = 0
                 left join sys_role r on r.id = ur.role_id and r.delflag = 0
        where su.delflag = 0
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(authKey)">
            and (su.username = #{authKey} or su.phone = #{authKey} or su.email = #{authKey} )
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(wxMpOpenId)">
            and su.wx_mp_openId = #{wxMpOpenId}
        </if>
    </select>

    <!--获取用户登录信息-->
    <select id="getUserInfo" resultType="cloud.ciky.system.model.vo.UserInfoVO">
        select
            su.id,
            su.real_name,
            su.avatar_attach_id,
            su.wx_mp_openId
        from sys_user su
        where su.id = #{userId}
    </select>

    <!--查询用户分页列表-->
    <select id="selectUserListPage" resultType="cloud.ciky.system.model.query.UserPageVO">
        select
            su.id,
            su.username,
            su.real_name,
            su.phone,
            su.email,
            su.status,
            group_concat(r.name order by r.sort separator ',') as roleNames,
            su.create_time
        from sys_user su
            left join sys_user_role ur on ur.user_id = su.id and ur.delflag = 0
            left join sys_role r on r.id = ur.role_id and r.delflag = 0
        where su.delflag = 0
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(query.keywords)">
            and (
            su.username like concat('%',#{query.keywords},'%')
            or su.real_name like concat('%',#{query.keywords},'%')
            or su.phone like concat('%',#{query.keywords},'%')
            )
        </if>
        <if test='query.status != null'>
            and su.status = #{query.status}
        </if>
        group by su.id, su.username, su.real_name, su.username, su.phone, su.email, su.status, su.create_time
        order by su.status desc, su.create_time asc
    </select>

    <!--用户表单信息映射-->
    <resultMap id="UserFormMap" type="cloud.ciky.system.model.form.UserForm">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>

        <collection property="roleIds" column="id" ofType="string" javaType="java.util.List"
                    select="cloud.ciky.system.mapper.SysUserRoleMapper.selectRoleIdsByUserId">
        </collection>
    </resultMap>

    <!--获取用户表单数据-->
    <select id="getUserForm" resultMap="UserFormMap"
            parameterType="java.lang.String">
        select
            su.id,
            su.username,
            su.nickname,
            su.real_name,
            su.phone,
            su.email
        from sys_user su
        where su.delflag = 0
        and su.id = #{userId}
    </select>

</mapper>
