<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.ciky.business.mapper.DmSharedCostDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.ciky.business.model.entity.DmSharedCostDetail">
        <id column="id" property="id" />
        <result column="cost_id" property="costId" />
        <result column="student_id" property="studentId" />
        <result column="amount_due" property="amountDue" />
        <result column="pay_status" property="payStatus" />
        <result column="paid_time" property="paidTime" />
        <result column="voucher_attach_id" property="voucherAttachId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cost_id, student_id, amount_due, pay_status, paid_time, voucher_attach_id, create_by, create_time, update_by, update_time, delflag
    </sql>

</mapper>
