<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.ciky.business.mapper.UserDormitoryManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.ciky.business.model.entity.UserDormitoryManager">
        <id column="id" property="id" />
        <result column="real_name" property="realName" />
        <result column="dm_num" property="dmNum" />
        <result column="entry_date" property="entryDate" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, real_name, dm_num, entry_date, create_by, create_time, update_by, update_time, delflag
    </sql>

    <!-- 获取宿管分页列表 -->
    <select id="selectDormitoryManagerPage" resultType="cloud.ciky.business.model.vo.DormitoryManagerPageVO">
        select
            dm.id,
            dm.real_name as realName,
            dm.dm_num as dmNum,
            dm.entry_date as entryDate,
            group_concat(ifnull(r.room_num, '') order by r.room_num, r.create_time) as building
        from user_dormitory_manager dm
            left join building_dm bd on bd.dm_id = dm.id and bd.is_current = 1
            left join dm_room r on r.id = bd.building_id and r.delflag = 0
                    and r.parent_id = '${@cloud.ciky.base.constant.SystemConstants@ROOT_NODE_ID}'
        where dm.delflag = 0
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(query.keywords)">
            and (dm.real_name like concat('%', #{query.keywords}, '%')
                or dm.dm_num like concat('%', #{query.keywords}, '%'))
        </if>
        group by dm.id
        order by dm.create_time desc
    </select>

    <!--UserDormitoryManagerForm参数映射-->
    <resultMap id="dmFormResultMap" type="cloud.ciky.business.model.form.UserDormitoryManagerForm">
        <!--user_dormitory_manager表字段-->
        <id property="id" column="dm_id"/>
        <result property="realName" column="dm_real_name"/>
        <result property="dmNum" column="dm_num"/>
        <result property="entryDate" column="entry_date"/>
        <!--sys_user表字段-->
        <association property="userForm" javaType="cloud.ciky.system.model.form.UserForm">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="nickname" column="nickname"/>
            <result property="realName" column="user_real_name"/>
            <result property="userType" column="user_type"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
        </association>
    </resultMap>

    <!-- 获取宿管表单 -->
    <select id="selectDormitoryManagerForm" resultMap="dmFormResultMap">
        select dm.id        as dm_id,
               dm.real_name as dm_real_name,
               dm.dm_num,
               dm.entry_date,
               u.id         as user_id,
               u.username,
               u.nickname,
               u.real_name  as user_real_name,
               u.user_type,
               u.phone,
               u.email
        from dm_business.user_dormitory_manager dm
                 left join dm_system.sys_user u on u.business_user_id = dm.id and u.delflag = 0
            and u.user_type = ${@cloud.ciky.system.enums.UserTypeEnum@DORMITORY_MANAGER.getValue()}
        where dm.id = #{id}
          and dm.delflag = 0
    </select>

</mapper>
